#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, sans-serif;
  background: #F5F5F5;
}

.profile {
  height: 320px;
  min-width: 45%;
}

.header {
  width: 100%;
  background: #F5F5F5;;
  padding-bottom: 25px;
}

.name {
  margin-bottom: 0px;
  padding: 20px 70px 6px 70px;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
}

.title {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #F47D27;
}

.website {
  width: 100%;
  padding: 8px 0px 17px 0px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #4A4E74;
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 34px;
  margin: 0px 35px;
}

.col {
  width: 140px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

#email {
  background: #FFFFFF;
  color: black;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

#linkedin {
  background: #297FE5;
  color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.main {
  background: #F5F5F5;
  color: black;
}

.main-titles {
  color: #2B283A;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin: 0px;
  text-align: left;
  padding: 0px 35px;
}

.content {
  margin-top: 5px;
  text-align: left;
  padding: 0px 35px 25px 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #4A4E74;
}

.footer {
  background: #D5D4D8;
  border-radius: 0px 0px 10px 10px;
  height: 65px;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 70px;
}

.footer-icons {
  list-style: none;
  color: #918E9B;
  font-size: 35px;
  /* padding-top: 10px; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
